<title>{{ .Site.Title }} - {{ .Params.title | default .Title }}</title>

<link rel="icon" type="image/svg" href="{{ .Site.Params.Metadata.Icon }}" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="title" content="{{ .Site.Title }}" />
<meta name="author" content="{{ .Site.Params.Metadata.Author }}" />
<meta name="description" content="{{ .Site.Params.Metadata.Description }}" />

<meta name="og:title" content="{{ .Site.Title }}" />
<meta name="og:logo" content="{{ .Site.Params.Metadata.Icon }}" />
<meta name="og:description" content="{{ .Site.Params.Metadata.Description }}" />

<meta name="twitter:title" content="{{ .Site.Title }}" />
