<div class="grid grid-cols-1 md:grid-cols-3 gap-6 m-6">
  <a
    class="
      p-8
      flex items-center justify-center gap-1
      bg-sky-600 hover:bg-sky-500
      text-2xl font-semibold
      rounded-md shadow-md
    "
    href="./book/"
  >
    <i class="text-white fas fa-book"></i>
    <span class="text-white">Handbook</span>
  </a>
  <a
    class="
      p-8
      flex items-center justify-center gap-1
      bg-amber-200 hover:bg-amber-300
      text-2xl font-semibold
      rounded-md shadow-md
    "
    href="./spec/"
  >
    <i class="text-black fas fa-code"></i>
    <span class="text-gray-800">Specification</span>
  </a>
  <a
    class="
      p-8
      flex items-center justify-center gap-1
      bg-emerald-500 hover:bg-emerald-600
      text-2xl font-semibold
      rounded-md shadow-md
    "
    href="https://github.com/linkdd/letlang"
  >
    <i class="text-white fab fa-github"></i>
    <span class="text-white">Download</span>
  </a>
</div>
