pre code.language-letlang .keyword,
pre code.language-letlang .symbol {
  color: #f92672;
}

pre code.language-letlang .builtin-type {
  color: #66d9ef;
}

pre code.language-letlang .string-literal {
  color: #e6db74;
}

pre code.language-letlang .atom-literal,
pre code.language-letlang .number-literal {
  color: #ae81ff;
}

pre code.language-letlang .comment {
  color: #75715e;
}