{{ $grammar := .Get 0 }}
{{ $source := path.Join "_static" "grammar" (printf "%s.peg" $grammar) | readFile }}
{{ $diagrams := path.Join "_static" "grammar" (printf "%s.html" $grammar) | readFile | safeHTML }}

<div class="grammar-block" data-tabid="0">
  <div class="grammar-block-nav tabs is-centered is-boxed is-medium mb-0">
    <ul class="p-0 m-0">
      <li data-tabid="0">
        <a>
          <span class="icon is-small">
            <i class="fas fa-image" aria-hidden="true"></i>
          </span>
          <span>Diagram</span>
        </a>
      </li>
      <li data-tabid="1">
        <a>
          <span class="icon is-small">
            <i class="fas fa-code" aria-hidden="true"></i>
          </span>
          <span>Sources</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="grammar-block-content box mt-0 is-radiusless" style="border: 1px solid #DBDBDB; border-top: 0px;">
    <div data-tabid="0">
      {{ $diagrams }}
    </div>
    <div data-tabid="1">
      {{ highlight $source "ebnf" "style=dracula" }}
    </div>
  </div>
</div>
