{% extends "layouts/base.html" %}

{% block main %}
  <main class="grow space-y-6 px-3 md:px-6 lg:px-24 pb-8 overflow-y-auto">
    <section class="mt-6">
      <div class="pt-2 pb-6 mb-6 text-center border-b-4 border-gray-300">
        <div
          class="inline-block w-16 h-16"
        >
          <svg
            viewBox="0 0 256 256"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="256"
              height="256"
              style="fill:#48C78E"
              transform="matrix(0, -1, 1, 0, 0, 256)"
            ></rect>

            <text
              transform="matrix(0.833141, 0, 0, 1.139783, 23.629536, -5.292274)"
              style="fill:#FFFFFF;font-family:arial;font-size:128px;white-space:pre;"
              x="10.061"
              y="166.768"
              bx:origin="0.5 0.500695"
            >LET</text>
          </svg>
        </div>
        <span class="inline-block text-5xl leading-16 align-top">
          lang
        </span>
      </div>
    </section>

    <section class="markdown">
      {{ content|raw }}
    </section>

    <section class="border-t-4 border-gray-300">
      <h1 class="my-6 text-center text-4xl font-semibold">📰 News Feed</h1>

      <script type="application/javascript" src="./js/news.js"></script>

      <div
        class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-x-3 gap-y-8"
        data-sources="{{ site.data.news.sources|json_encode|escape }}"
        data-categories="{{ site.data.news.categories|json_encode|escape }}"
        x-data="{ news: [] }"
        x-init="
          news = await fetchNews(
            JSON.parse($el.dataset.sources),
            JSON.parse($el.dataset.categories),
          )
        "
      >
        <template x-for="item in news">
          <article
            class="
              p-3
              flex flex-col
              shadow-md rounded-sm
              border border-gray-200
            "
          >
            <p class="text-xl">
              <a
                class="text-indigo-500 hover:text-red-600 font-semibold"
                x-bind:href="item.link"
                x-text="item.title"
                target="_blank"
              >
              </a>
            </p>
            <p class="flex-grow text-xs" x-text="'@' + item.author"></p>

            <div
              class="
                mt-6 pt-3
                flex flex-row flex-wrap gap-1 justify-center
                border-t-2 border-gray-300
              "
            >
              <template x-for="category in item.categories">
                <span
                  class="
                    py-1 px-2
                    shadow-sm rounded-sm
                    bg-teal-400
                    text-white text-xs
                  "
                  x-text="category"
                ></span>
              </template>
            </div>

            <p
              class="mt-3 text-right text-xs text-gray-500 uppercase font-semibold"
              x-text="moment(item.pubDate).format('dddd, MMMM Do, YYYY')"
            ></p>
          </article>
        </template>
      </div>
    </section>
  </main>
{% endblock %}
