{{ define "main" }}
  <section class="section pb-0">
    <h1 class="title is-1 has-text-centered">{{ .Title }}</h1>

    <hr />
  </section>

  <section class="section pt-0">
    <table class="table is-hoverable is-striped is-fullwidth">
      <thead>
        <tr>
          <th class="is-narrow has-text-centered">Index</th>
          <th class="is-narrow has-text-centered">Status</th>
          <th class="is-narrow has-text-centered">Category</th>
          <th>Title</th>
        </tr>
      </thead>

      <tbody>
        {{ range .Pages }}
          <tr>
            <td class="has-text-centered">{{ .File.TranslationBaseName }}</td>
            <td class="has-text-centered">{{ .Params.status }}</td>
            <td class="has-text-centered">
              <span class="has-tooltip has-tooltip-right" data-tooltip="{{ .Params.category }}">
                {{ .Params.category_code }}
              </span>
            </td>
            <td>
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </section>
{{ end }}
