{% if public %}pub{% else %}pub(crate){% endif %} mod symbol_{{ symbol_name }} {
  use super::*;

  #[allow(non_camel_case_types)]
  pub struct func_{{ symbol_name }} {
    {% for type_param in type_params %}
      {{ type_param }}: Box<dyn Type>,
    {% endfor %}
  }

  impl Function for func_{{ symbol_name }} {

  }
}