{{ define "main" }}
  <div class="columns">
    <div class="column is-one-fifth pt-6">
      <div class="sticky sticky-5">
        <ll-toc></ll-toc>
      </div>
    </div>

    <section class="section column is-four-fifths">
      <ll-book-title class="is-block sticky sticky-3"></ll-book-title>

      <div class="content">
        {{ .Content }}
      </div>

      <a
        class="button is-small is-floating has-tooltip-left"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
        data-tooltip="Scroll to top"
      >
        <i class="fas fa-chevron-up"></i>
      </a>
    </section>
  </div>
{{ end }}
